@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Pretendard', system-ui, sans-serif;
  }
  input:focus {
    outline: none;
  }
}
@layer components {
  .btn {
    padding: 16px 20px;
    background: linear-gradient(91deg, theme('colors.primary') 0.12%, #6ae3fe 101.84%);
    border-radius: 8px;
    color: #f5f5f5;
    font-size: 1.125rem;
    font-weight: 600;
    white-space: nowrap;
    text-align: center;
  }

  .border-purple {
    border: 1px solid theme('colors.primary');
    border-radius: 5px;
  }

  .add-folder-btn {
    position: fixed;
    bottom: 101px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 24px;
    border-radius: 20px;
    border: 1px solid #fff;
    background: theme('colors.primary');
    z-index: 11;
    color: #fff;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1060px;
    margin: 40px auto 0;
  }

  .input {
    padding: 18px 15px;
    background-color: white;
    border: 1px solid #ccd5e3;
    border-radius: 8px;
  }
  .input:focus {
    border-color: theme('colors.primary');
  }
  .input::placeholder {
    color: #9fa6b2;
  }
}
